<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding theme-white">
            <a href="#" class="back link"><i class="icon icon-back"></i><span>내정보</span></a>
        </div>
        <div class="center sliding">나의 찜</div>
        <!--<div class="right theme-white">
            <a id='btnDeleteVisits' href="#" class="link icon-only">전체삭제</a>
        </div>-->
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="visitListIndex" class="page">
        <div id="visitList" class="page-content">
            <div id='visitEmpty' class="list-block media-list" style="display: none;">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input"><p>찜한 관광명소가 없습니다.</p></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-100">
                    <div id='visitListResult'></div>
                </div>
            </div>
        </div>
    </div>
</div>